<!DOCTYPE html>  <!-- HTML5 document type -->
<html>
    <head>
        <meta charset="UTF-8">
        <title>Ticket Dependancy Graph</title>
    </head>
    <body>
        <div id="trello">
            <button type="button" v-on:click="authorize">Connect to Trello</button>
            <select v-model="selectedBoard" v-if="authenticated">
                <option value="" disabled selected style="display: none;">Choose a board</option>
                <option v-for="board in boards" v-bind:value="board.id">{{ board.name }}</option>
            </select>
            <select v-model="selectedList" v-if="lists!=null">
                <option value="" disabled selected style="display: none;">Choose the sprint backlog column</option>
                <option v-for="list in lists" v-bind:value="list.id">{{ list.name }}</option>
            </select>
            <button type="button" v-if="cards!=null" v-on:click="refresh">Refresh</button>

        </div>
        <div id="dependancyGraph" style="height:400px; background-color: #DAE4E4;"></div>
        <div id="graphHandler">
            <form v-on:submit.prevent="addDependancy(currentParent, currentChild)">
                The ticket id <input type="text" v-model="currentChild"></input> depends on the ticket
                <input type="text" v-model="currentParent"></input>
                <button type="submit">Add dependancy</button>
            </form>
            <form>
                <button type="button" v-on:click="saveData">Export to JSON</button>
            </form>
            <textarea v-if="dataAsJson!=''" style="width:100%;height:250px">
                {{ dataAsJson }}
            </textarea>

        </div>
        <script src="dist/app.js"></script>
    </body>
</html>
