<!DOCTYPE html>  <!-- HTML5 document type -->
<html>
    <head>
        <meta charset="UTF-8">
        <title>Ticket Dependancy Graph</title>
        <script src="go-debug.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js"></script>
        <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="https://api.trello.com/1/client.js?key=9685b92ee42080b94102b49fe50d2bb1"></script>
    </head>
    <body>
        <div id="trello">
            <button type="button" v-on:click="authorize">Connect to Trello</button>
            <select v-model="selectedBoard" v-if="authenticated">
                <option value="" disabled selected style="display: none;">Choose a board</option>
                <option v-for="board in boards" v-bind:value="board.id">{{ board.name }}</option>
            </select>
            <select v-model="selectedList" v-if="lists!=null">
                <option value="" disabled selected style="display: none;">Choose the sprint backlog column</option>
                <option v-for="list in lists" v-bind:value="list.id">{{ list.name }}</option>
            </select>
            <button type="button" v-if="cards!=null" v-on:click="populate">Populate with cards</button>
        </div>
        <div id="dependancyGraph" style="height:400px; background-color: #DAE4E4;"></div>
        <div id="graphHandler">
            <form v-on:submit.prevent="addDependancy(currentParent, currentChild)">
                The ticket id <input type="text" v-model="currentChild"></input> depends on the ticket
                <input type="text" v-model="currentParent"></input>
                <button type="submit">Add dependancy</button>
            </form>
            <form v-on:submit.prevent="addTicket(newTicketId,newTicketName)">
                <label for="ticketId">Ticket id:</label><input id="ticketId" type="text" v-model="newTicketId"></input>
                <label for="ticketName">Ticket name:</label><input id="ticketName" type="text" v-model="newTicketName"></input>
                <button type="submit">Add ticket</button>
            </form>
        </div>
        <script src="app.js"></script>
        <script src="trello.js"></script>
    </body>
</html>
